.subproduct {
    &__data {
        margin-bottom: 5px;
        &_name {
            font-weight: bold;
            margin-bottom: 5px;
        }

        &_type {
            margin-bottom: 5px;
            font-style: italic;
        }
    }
}
